* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: arial, sans-serif;
}
button:focus,
input:focus {
    outline: none;
}

/* Layout */
.row, .column {
    overflow: hidden;
    position: absolute;
}
.row {
    left: 0;
    right: 0;
}
.column {
    top: 0;
    bottom: 0;
}
.scrollX, .scrollY {
    -webkit-overflow-scrolling: touch;
}
.scrollX {
    overflow-x: auto;
}
.scrollY {
    overflow-y: auto;
}
.header {
    height: 60px;
    top: 0;
    background-color: white;
}
.body {
    top: 60px;
    bottom: 0;
    background-color: white;
}
.columnLeft {
    width: 50px;
    left: 0;
}
.columnRight {
    left: 50px;right: 0;
}








/* Layout x-browser */
.maxContent {
    width: intrinsic;
    width: -moz-max-content;
    width: -webkit-max-content;
}
.noUserSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Context menu */
.contextMenuRow {
    background-color: white;
    cursor: pointer;
}
.contextMenuRow:hover {
    background-color: #efefef;
}



/* Spreadsheet */
.waffleRect {
    position: relative;
}

/* Corner */
.waffleCornerStone {
    width: 40px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #dadada;
    background-color: #f3f3f3;
    z-index: 2;
}

/* Header */
.waffleHeaderRect {
    width: 200px; /* DEFAULT: SET BY BROWSER RESIZE */
    height: 30px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 40px;
    background-color: #ddd;
    z-index: 1;
}
    .waffleHeader {
        width: 100%;
        height: 30px;
        white-space: nowrap;
    }
        .waffleHeaderCol {
            width: 160px;
            height: 30px;
            border: 1px solid #dadada;
            border-left: none;
            font-size: 0.8em;
            padding: 0;
            text-align: center;
            display: inline-block;
            vertical-align: top;
            line-height: 30px;
        }

/* Sidebar */
.waffleSidebarRect {
    width: 30px;
    height: 200px; /* DEFAULT: SET BY BROWSER RESIZE */
    position: absolute;
    top: 29px;
    left: 0;
    background-color: #ddd;
    z-index: 1;
}
    .waffleSidebar {
        width: 30px;
    }
        .waffleSidebarRow {
            width: 40px;
            height: 30px;
            position: relative;
            text-align: center;
            border: 1px solid #dadada;
            border-bottom: none;
            font-size: 0.8em;
            line-height: 30px;
        }

/* Spreadsheet container */
.waffleIron {
    width: 200px;
    height: 200px;
    background-color: #efefef;
    overflow: auto;
    position: absolute;
    top: 30px;
    left: 40px;
    z-index: 0;
}
/* Spreadsheet scrollbars for Chrome, Safari */
.waffleIron::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}
.waffleIron::-webkit-scrollbar-track {
    background-color: #f3f3f3;

}
.waffleIron::-webkit-scrollbar-thumb:vertical,
.waffleIron::-webkit-scrollbar-thumb:horizontal {
    background-color: #ccc;
    border: 2px solid #f3f3f3;
}
.waffleIron::-webkit-scrollbar-thumb:vertical:hover,
.waffleIron::-webkit-scrollbar-thumb:horizontal:hover {
    background: #3896ff;
}
.waffleIron::-webkit-scrollbar-thumb:horizontal {
    background-color: rgba(0,0,0,.2);

}
.waffleIron::-webkit-scrollbar-corner {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Spreadsheet grid */
.waffle {

}
    .waffleRow {
        width: 100%;
        height: 30px;
        white-space: nowrap;
    }
    .waffleCol {
        width: 160px;
        height: 30px;
        border: 1px solid #dadada;
        border-top: none;
        border-left: none;
        font-size: 0.8em;
        padding: 0;
        background-color: white;
        display: inline-block;
        vertical-align: top;
        position: relative;
    }
