* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: arial, sans-serif;
}
button:focus,
input:focus {
    outline: none;
}

/* Layout */
.row, .column {
    overflow: hidden;
    position: absolute;
}
.row {
    left: 0;
    right: 0;
}
.column {
    top: 0;
    bottom: 0;
}
.scrollX, .scrollY {
    -webkit-overflow-scrolling: touch;
}
.scrollX {
    overflow-x: auto;
}
.scrollY {
    overflow-y: auto;
}
.header {
    height: 65px;
    top: 0;
    background-color: white;
    z-index: 1;
    box-shadow: 0 1px 3.92px 0.08px rgba(0, 0, 0, 0.16);
}
.body {
    top: 65px;
    bottom: 0;
    background-color: white;
    position: relative;
}
.columnLeft {
    width: 50px;
    left: 0;
}
.columnRight {
    left: 50px;right: 0;
}


*:focus { outline: 0; }
body { font-size: 16px; }

.waffle { 
    width: 420px;height: 140px;
    position: relative;
    background-color: #e9e9e9;
}

canvas { background-color: #efefef; }

.cellInput {
    position: absolute;
    background-color: white;
    border: none;
    width: 100%;
    height: 27px;
    display: none;
    padding: 0 10px;
    font-size: 1em;
}

.scrollbarX {
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 18px;
    border-top: 1px solid #e0e0e0;
}
    .scrollBarXControlsLeft {
        width: 20px;height: 18px;
        position: absolute;
        top: 0;left: 10px;
    }
    .scrollBarXControlsRight {
        width: 20px;height: 18px;
        position: absolute;
        top: 0;right: 28px;
    }
        .scrollBarXControlButtonLeft {
            width: 10px;height: 10px;
            position: absolute;
            top: 4px;left: 0;
        }
        .scrollBarXControlButtonLeft > [class^='arrow'] {
            position: absolute;
            left: 0;
        }
        .scrollBarXControlButtonRight {
            width: 10px;height: 10px;
            position: absolute;
            top: 4px;right: 0;
        }
        .scrollBarXControlButtonRight > [class^='arrow'] {
            position: absolute;
            right: 0;
        }
    /* NOT USED YET
    .scrollbarXTrack {
        width: 380px;height: 18px;
        position: absolute;
        bottom: 0; 
        left: 20px;
    }
        .scrollbarXThumb {
            width: 18px;
            height: 18px;
            background-color: cyan;
            cursor: pointer;
            position: absolute;
            bottom: 0;
            left: 0;
            display: none;
        }
    */
.scrollbarY {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 18px;
    height: 100%;
    background-color: white;
    border-left: 1px solid #e0e0e0;
}
    .scrollBarYControlsUp {
        width: 18px;height: 20px;
        position: absolute;
        top: 10px;left: 0;
    }
    .scrollBarYControlsDown {
        width: 18px;height: 20px;
        position: absolute;
        bottom: 28px;right: 0;
    }
        .scrollBarYControlButtonUp {
            width: 10px;height: 10px;
            position: absolute;
            top: 0;left: 4px;
        }
        .scrollBarYControlButtonUp > [class^='arrow'] {
            position: absolute;
            top: 0;
        }
        .scrollBarYControlButtonDown {
            width: 10px;height: 10px;
            position: absolute;
            bottom: 0;left: 4px;
        }
        .scrollBarYControlButtonDown > [class^='arrow'] {
            position: absolute;
            bottom: 0;
        }

    /* NOT USED YET
    .scrollbarYTrack {
        width: 18px;height: 100px;
        position: absolute;
        top: 18px;
        right: 0;
    }
        .scrollbarYThumb {
            width: 18px;
            height: 18px;
            background-color: #ccc;
            cursor: pointer;
            position: absolute;
            top: 0;
            right: 0;
            display: none;
        }
    */
.scrollbarCorner {
    width: 18px;height: 18px;
    position: absolute;
    bottom: 0;right: 0;
    border-top: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
}

/* Scrollbar button arrows */
.arrowDown {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #2f2f2f;
    font-size: 0;
    line-height: 0;
}
.arrowLeft {
    width: 0; 
    height: 0; 
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #2f2f2f;
    font-size: 0;
    line-height: 0;
}
.arrowRight {
    width: 0; 
    height: 0; 
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #2f2f2f;
    font-size: 0;
    line-height: 0;
}
.arrowUp {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #2f2f2f;
    font-size: 0;
    line-height: 0;
}

