* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: arial, sans-serif;
}
button:focus,
input:focus {
    outline: none;
}

/* Layout */
.row, .column {
    overflow: hidden;
    position: absolute;
}
.row {
    left: 0;
    right: 0;
}
.column {
    top: 0;
    bottom: 0;
}
.scrollX, .scrollY {
    -webkit-overflow-scrolling: touch;
}
.scrollX {
    overflow-x: auto;
}
.scrollY {
    overflow-y: auto;
}
.header {
    height: 60px;
    top: 0;
    background-color: white;
}
.body {
    top: 60px;
    bottom: 0;
    background-color: white;
    position: relative;
}
.columnLeft {
    width: 50px;
    left: 0;
}
.columnRight {
    left: 50px;right: 0;
}


*:focus { outline: 0; }
body { font-size: 16px; }

.waffle { 
    width: 420px;height: 140px;
    position: relative;
    background-color: cyan;
}

canvas { background-color: orange; }

.cellInput {
    position: absolute;
    background-color: white;
    border: none;
    width: 98px;
    height: 28px;
    display: none;
    padding: 0 10px;
    font-size: 1em;
}

.scrollbarX {
    background-color: #efefef;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
}
    .scrollbarXTrack {
        width: 380px;height: 20px;
        position: absolute;
        bottom: 0; 
        left: 20px;
    }
        .scrollbarXThumb {
            width: 20px;
            height: 20px;
            background-color: #ccc;
            cursor: pointer;
            position: absolute;
            bottom: 0;
            left: 0;
            display: none;
        }
    .scrollbarXButtonLeft {
        width: 20px;height: 20px;
        background-color: #aaa;
        cursor: pointer;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
    }
    .scrollbarXButtonRight {
        width: 20px;height: 20px;
        background-color: #aaa;
        cursor: pointer;
        position: absolute;
        bottom: 0;
        right: 20px;
        z-index: 1;
    }

.scrollbarY {
    background-color: #efefef;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 100%;
}
    .scrollbarYTrack {
        width: 20px;height: 100px;
        position: absolute;
        top: 20px;
        right: 0;
    }
        .scrollbarYThumb {
            width: 20px;
            height: 20px;
            background-color: #ccc;
            cursor: pointer;
            position: absolute;
            top: 0;
            right: 0;
            display: none;
        }
    .scrollbarYButtonDown {
        width: 20px;height: 20px;
        background-color: #aaa;
        cursor: pointer;
        position: absolute;
        bottom: 20px;
        right: 0;
        z-index: 1;
    }
    .scrollbarYButtonUp {
        width: 20px;height: 20px;
        background-color: #aaa;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }



